/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #6c63ff;
  --outline-color: #f9f7fe;
}

h1,
h2,
h3 {
  color: black;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

.logo {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

.nav-link {
  display: inline;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #272142;
  transition: all 100ms ease-in-out;
}

.hero {
  background: var(--outline-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  color: #272142;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.hero h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.topic-p {
  font-size: 18px;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 110px 60px;
}

.content-container {
  padding: 150px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 85px;
}

.content-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content-container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.content {
  padding: 30px;
}

.work-content {
  text-align: center;
}

.work-content p {
  font-size: 14px;
}

.contact-page-link {
  color: var(--primary-color);
}

.nav-link:hover,
.active {
  color: var(--primary-color) !important;
}

.btn-branding:hover {
  background: var(--primary-color);
}

.btn-branding:active {
  background: var(--primary-color) !important;
  border: var(--primary-color) !important;
}

.btn-branding:focus,
.btn-branding-outline:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-branding:focus-visible {
  color: white;
  background: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-branding-outline:hover,
.btn-branding-outline:focus-visible {
  border: solid 1px var(--primary-color);
}

.btn-branding-outline:active {
  border: solid 1px var(--primary-color) !important;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }
  h2 {
    font-size: 45px;
  }
  .hero {
    padding: 70px 20px;
  }
  .project-description {
    text-align: center;
    padding: 0 5px;
  }
  .content-container {
    text-align: center;
    padding: 20px;
  }
  .content-container h1 {
    font-size: 50px;
    line-height: 1;
  }
}
